.back-call
  background: linear-gradient(155.82deg, #5858D7 33.73%, #2390CA 100%)

  // политика!

  &__have-questions
    padding-top: 50px
    width: 228px

    h4
      font-family: Rubik, sans-serif
      font-style: normal
      font-weight: bold
      line-height: 38px
      font-size: 27px
      color: #FFFFFF
      margin-bottom: 8px

    span
      font-family: Rubik, sans-serif
      font-style: normal
      font-weight: normal
      line-height: 27px
      font-size: 18px
      color: #FFFFFF


  &__me
    width: 499px
    display: flex
    flex-direction: row
    margin: 40px 0 0 124px

    .input
      background: #3B40B6
      width: 237px
      height: 53px
      border-width: 0
      border-radius: 6px
      font-family: Rubik, sans-serif
      font-style: normal
      font-weight: normal
      line-height: normal
      font-size: 18px
      color: #AAADFF
      //padding: 16px 0 15px 19px

    .input-name, .input-phone
      padding: 16px 0 15px 19px

    .button-send
      text-transform: uppercase
      font-family: Rubik, sans-serif
      font-style: normal
      font-weight: 500
      line-height: normal
      font-size: 16px
      letter-spacing: 0.02em
      color: #FFFFFF
      background: #12C78C

    &__container-input-name
      margin: 0 12.5px 0 0

    &__container-input-phone
      margin: 0 12.5px 0 0

    &__container-input-send
      margin-left: 12.5px

    &__container-privacy-policy
      margin: 0 0 6.5px 12.5px
      padding-right: 30px
      width: 230px
      height: 50px
      font-family: Rubik, sans-serif
      font-style: normal
      font-weight: normal
      line-height: 18px
      font-size: 13px
      color: #E3EAFF

      &__underline
        text-decoration: underline #000000

        &:hover
          text-decoration: underline #FFFFFF
          cursor: pointer


