include ../../mixins/svg_sprite

.error-404
    .container
        .flex-row.justify-content-center
            .error-404-container
                .img-container
                    img(src="img/error.png", alt="error")
                h2 Ошибка 404
                p Запрашиваемая страница не существует
                .button-container
                    a(href="#") Вернуться на главную

