include ../../mixins/svg_sprite

section.error-404
    .container
        .flex-row
            .error-404-container
                .error-404-container-img__error
                    img(src="img/error.png", alt="error")
                .title Ошибка 404
                .text Запрашиваемая страница не существует
                .button-redirect-to-main-page
                    button Вернуться на главную

