nav.adaptive-nav
    button.navbar-toggler
        +add_svg({class: "adaptive-nav__burger", icon: "burger"})
        span Меню
    ul

        li
            a(href="#") #[span Сотовая связь]
        li
            a(href="#") #[span Интернет]
        li
            a(href="#") #[span Телевидение]
        li
            a(href="#") #[span Пакеты 3 в 1]
