nav.adaptive-nav
    ul
        li
            a(href="#")
                +add_svg({class: "nav-bar__burger", icon: "burger"})
                span Меню

        li
            a(href="#") #[span Сотовая связь]
        li
            a(href="#") #[span Интернет]
        li
            a(href="#") #[span Телевидение]
        li
            a(href="#") #[span Пакеты 3 в 1]
