nav.nav-bar-menu
    button.nav-bar-button-open
        +add_svg({class: "nav-bar-menu__burger", icon: "burger"})
        span Меню
    ul

        li
            a(href="#") Сотовая связь
        li
            a(href="#") Интернет
        li Телевидение
            //a(href="#") Телевидение
            ul.sub-menu.sub-menu-position
                li
                    a(href="#") Просмотр телевизора
                li
                    a(href="#") Выделить сообщение
                li
                    a(href="#") Посмотреть сколько стоит
                li
                    a(href="#") Интернет пакет
        li
            a(href="#") Пакеты 3 в 1
