include ../../mixins/svg_sprite

button.collapsible.collapse-margin Как выбирать услуги провайдера?
    +add_svg({class: "collapsible-dropdown-close collapsible-dropdown", icon: "dropdown-collapse"})
.content-collapse
    p Ко всему прочему, перспективное планирование требуют определения и уточнения экономических и не экономических факторов и перспектив. Таким образом, реализация намеченных плановых заданий обеспечивает широкому кругу специалистов участие в формировании существенных финансовых и административных условий.

button.collapsible.collapse-margin.margin__ Почему стоит обращать внимание на услуги
    +add_svg({class: "collapsible-dropdown-close collapsible-dropdown", icon: "dropdown-collapse"})
.content-collapse
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit
