.provider__container__services
    h2.provider__container__services__title Сотовая связь
    .provider__container__services__info-service
        .container-button
            button Отправить заявку
        .container-cost
            h4.title 300 рублей
            p.text Цена в месяц, стоимость им-карты 50 рублей
        .container-name-service
            h4.title Безлимитище Plus
            p.text Неограниченные звонки и текстовые сообщения, 100 гб интернет,
                | 100 минут международных минут
