include ../../mixins/svg_sprite


.container
    .content-card
        .content-heading
            h1 Сотовая связь

            ul
                li
                    a(href="#") Главная
                    +add_svg({class: "dropdown_right-1", icon: "dropdown_right"})
                li Сотовая связь


        .content-description-category
            .content-category
                .container-title
                    h2 Самые популярные
                .content-info-service
                    .container-button-category
                        a(href="#") Отправить заявку
                    .container-cost
                        h4 300 рублей
                        p Цена в месяц, стоимость cим-карты 50 рублей
                    .container-description-tariff
                        h4 Безлимитище Plus
                        p Неограниченные звонки и текстовые сообщения, 100 гб интернет, 100 минут международных минут
                    +add_svg({class: "logo-mts", icon: "logo-mts"})

                .content-info-service
                    .container-button-category
                        a(href="#") Отправить заявку
                    .container-cost
                        h4 300 рублей
                        p Цена в месяц, стоимость cим-карты 50 рублей
                    .container-description-tariff
                        h4 Безлимитище Plus
                        p Неограниченные звонки и текстовые сообщения, 100 гб интернет, 100 минут международных минут
                    +add_svg({class: "logo-mts", icon: "logo-mts"})

            .content-category
                .container-title
                    h2 Самые популярные
                .content-info-service
                    .container-button-category
                        a(href="#") Отправить заявку
                    .container-cost
                        h4 300 рублей
                        p Цена в месяц, стоимость cим-карты 50 рублей
                    .container-description-tariff
                        h4 Безлимитище Plus
                        p Неограниченные звонки и текстовые сообщения, 100 гб интернет, 100 минут международных минут
                    +add_svg({class: "logo-mts", icon: "logo-mts"})

                .content-info-service
                    .container-button-category
                        a(href="#") Отправить заявку
                    .container-cost
                        h4 300 рублей
                        p Цена в месяц, стоимость cим-карты 50 рублей
                    .container-description-tariff
                        h4 Безлимитище Plus
                        p Неограниченные звонки и текстовые сообщения, 100 гб интернет, 100 минут международных минут
                    +add_svg({class: "logo-mts", icon: "logo-mts"})

            .content-category
                .container-title
                    h2 Самые популярные
                .content-info-service
                    .container-button-category
                        a(href="#") Отправить заявку
                    .container-cost
                        h4 300 рублей
                        p Цена в месяц, стоимость cим-карты 50 рублей
                    .container-description-tariff
                        h4 Безлимитище Plus
                        p Неограниченные звонки и текстовые сообщения, 100 гб интернет, 100 минут международных минут
                    +add_svg({class: "logo-mts", icon: "logo-mts"})

                .content-info-service
                    .container-button-category
                        a(href="#") Отправить заявку
                    .container-cost
                        h4 300 рублей
                        p Цена в месяц, стоимость cим-карты 50 рублей
                    .container-description-tariff
                        h4 Безлимитище Plus
                        p Неограниченные звонки и текстовые сообщения, 100 гб интернет, 100 минут международных минут
                    +add_svg({class: "logo-mts", icon: "logo-mts"})
