ul.sub-menu-mobile
    li
        a(href="#") Просмотр телевизора
    li
        a(href="#") Выделить сообщение
    li
        a(href="#") Посмотреть сколько стоит
    li
        a(href="#") Интернет пакет
