include ../../mixins/svg_sprite

section.nav-bar
    .container
        .nav-bar-container
            a(href="#")
                +add_svg({class: "nav-bar__logo", icon: "logo"})

            include ../nav-bar/adaptive-menu

            .nav-bar__switch-language
                +add_svg({class: "nav-bar__switch-language__icon", icon: "www"})
                +add_svg({class: "nav-bar__switch-language__dropdown", icon: "dropdown_bottom"})
                select
                    option(value="rus") rus
                    option(value="eng") eng
