include ./mixins/svg_sprite

doctype html
html(lang="RU")
    head
        block title
            title Starter Template

        block head_meta
            include ./head_meta

        block head_custom_css
            link(rel="stylesheet", href="./css/main.min.css")


    body
        section.header
            include components/top-menu/nav-bar

        section.content
            block content

            .go-up-container.go-up-floating-button
                a(href="#").go-up
                    +add_svg({class: "arrow-up", icon: "arrow-up"})

        section.footer
            include components/call-back/call-back
            include components/footer/bottom-menu
            include components/footer/footer-credits

        include ./scripts
        block custom_scripts

        include ./ie_fix
