.nav-links-info
  background: #2F2F4B

  .flex-row
    padding: 31px 0 25px 0

  &__tarif-2018
    font-family: "Rubik", sans-serif
    font-weight: normal
    font-style: normal
    line-height: 18px
    font-size: 14px
    color: #FFFFFF

  &__privacy_policy
    font-family: "Rubik", sans-serif
    font-style: normal
    font-weight: normal
    line-height: normal
    font-size: 14px
    color: #A1A1B1
    margin-left: 72px

  &__usage__information
    font-family: "Rubik", sans-serif
    font-style: normal
    font-weight: normal
    line-height: normal
    font-size: 14px
    color: #A1A1B1
    margin-left: 32px

  &__icon-ruso
    fill: #FFFFFF
    width: 30px
    height: 30px

  &__ruso
    a
      font-family: "Rubik", sans-serif
      font-style: normal
      font-weight: normal
      line-height: (17/13)
      font-size: 13px
      color: #A1A1B1
      margin-left: 364px
      position: relative
      top: -4px
