@import "../../vars"
@import "../../functions"

.nav-bar
  background: $color-menu

  &-container
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    flex-wrap: wrap

  &__logo
    width: 132px
    height: 38px
    fill: #FFFFFF
    margin-right: 140px

  &__switch-language
    position: relative
    margin-left: auto

    &__icon
      position: absolute
      top: 12px
      left: 13px
      width: 16px
      height: 16px
      fill: $color-white

    &__dropdown
      position: absolute
      top: 16px
      left: 72px
      width: 8px
      height: 8px
      fill: $color-white

  select
    background: #202039
    border-radius: 3px
    border: none
    outline: none
    color: $color-white
    text-transform: uppercase
    font-weight: 500
    line-height: normal
    font-size: 14px
    letter-spacing: 0.02em
    padding: 11px 28px 10px 40px
    -webkit-appearance: none
    -moz-appearance: none
