include ../../mixins/svg_sprite

.container
    .content-article-bg(style="background-image: url(img/article-bg.jpg)")
        h1 H1 Как выбрать выгодный интернет
    .content-article
        .content-description-article
            p Ко всему прочему, перспективное планирование требуют определения и уточнения экономических и не экономических факторов и перспектив. Таким образом, реализация намеченных плановых заданий обеспечивает широкому кругу специалистов участие в формировании существенных финансовых и административных условий. В целом, конечно, новая модель организационной деятельности вынуждает нас объективно потребовать дальнейших направлений развития. Стоит понимать, что постоянный количественный рост и сфера нашей активности выявляет срочную потребность стандартных подходов.
            h2 H2 Ответы на часто задаваемые вопросы

            include ../collapse/collapse

            h2 H2 Цитата в тексте
            p Ко всему прочему, перспективное планирование требуют определения и уточнения экономических и не экономических факторов и перспектив.
            p.text-with-left-border Ко всему прочему, перспективное планирование требуют определения и уточнения экономических и не экономических факторов и перспектив. Ко всему прочему, перспективное планирование требуют определения и уточнения экономических и не экономических факторов и перспектив.
            .container-service-packages-provider
                img(src="img/photo-connection.png" alt="photo-connection").float-right
                h2 H2 Пакеты услуг провайдера
                p Ко всему прочему, перспективное планирование требуют определения и уточнения экономических и не экономических факторов и перспектив. Таким образом, реализация…
                p Ко всему прочему, перспективное планирование требуют определения и уточнения экономических и не экономических факторов и перспектив. Таким образом, реализация…
            .container-type-internet
                h3 H3 Что лучше 4G или LTE?
                p Ко всему прочему, перспективное планирование требуют определения и уточнения экономических и не экономических факторов и перспектив. Таким образом, реализация намеченных плановых заданий обеспечивает широкому кругу специалистов участие в формировании существенных финансовых и административных условий.
                ul
                    li
                        h6 Бесплатный интернет
                        p Ко всему прочему, перспективное планирование требуют определения и уточнения плановых
                    li
                        h6 Бесплатный интернет
                        p Ко всему прочему, перспективное планирование требуют определения и уточнения плановых
                    li
                        h6 Бесплатный интернет
                        p Ко всему прочему, перспективное планирование требуют определения и уточнения плановых
                    li
                        h6 Бесплатный интернет
                        p Ко всему прочему, перспективное планирование требуют определения и уточнения плановых



        nav.content-article-links
            h4 Содержание статьи
            ol
                li
                    a(href="#") Пакеты услуг провайдера
                li
                    a(href="#") Как использовать
                li
                    a(href="#") Телевизор и связь
                li
                    a(href="#") Рыба текс азвания
