@import "../../vars"
@import "../../functions"

.go-up-floating-button
  display: block
  position: absolute
  top: 0
  right: 120px
  height: 100%

  .go-up
    position: sticky
    display: flex
    top: 200px
    color: red
    text-decoration: none
    width: 51px
    height: 51px
    background: $color-white
    border-radius: 6px

    &:hover
      .arrow-up
        fill: #9242F8

    .arrow-up
      width: 10px
      height: 10px
      position: absolute
      top: 20px
      left: 20px
      fill: #536396
