include ../../mixins/svg_sprite

section.nav-links
    .container
        .nav-links-container
            a(href="#").logo
                +add_svg({class: "nav-links__logo", icon: "logo"})

            include ../nav-bar/adaptive-menu

            .container-social-bottom-menu
                .container-icon
                    a(href="#").social-icon-bottom-menu.social-icon-bottom-menu-facebook
                        +add_svg({class: "bottom-menu-icon-facebook", icon: "facebook"})
                .container-icon
                    a(href="#").social-icon-bottom-menu.social-icon-bottom-menu-instagram
                        +add_svg({class: "bottom-menu-icon-instagram", icon: "instagram"})
