include ../../mixins/svg_sprite

section.nav-links
    .container
        .nav-links-container
            a(href="#").logo
                +add_svg({class: "nav-links__logo", icon: "logo"})

            include ../nav-bar/adaptive-menu

            .container-social
                a(href="#").container-facebook.container-social-icon
                    +add_svg({class: "container-social__facebook", icon: "facebook"})
                a(href="#").container-instagram.container-social-icon
                    +add_svg({class: "container-social__instagram", icon: "instagram"})

