include ../../mixins/svg_sprite

section.nav-links
    .container
        .flex-row
            a(href="#")
                +add_svg({class: "nav-links__logo", icon: "logo"})

            include ../nav-bar/adaptive-menu

            a(href="#").nav-links__container-facebook
                +add_svg({class: "nav-links__facebook", icon: "facebook"})
            a(href="#").nav-links__container-instagram
                +add_svg({class: "nav-links__instagram", icon: "instagram"})

