include ../../mixins/svg_sprite

section.nav-links
    .container.nav-links__container
        .flex-row
            a(href="#").nav-links__logo-link
                +add_svg({class: "nav-links__logo", icon: "logo"})

            include ../nav-bar/adaptive-menu

            //.nav-links__social
            a(href="#").nav-links__facebook-link
                +add_svg({class: "nav-links__facebook", icon: "facebook"})
            a(href="#").nav-links__instagram-link
                +add_svg({class: "nav-links__instagram", icon: "instagram"})
