include ../../mixins/svg_sprite

section.nav-links-info
    .container
        .flex-row.footer-credits
            .footer-credits__copyright © Tarif, 2018

            ul.footer-credits-links
                li.footer-credits-links-link
                    a(href="#") Политика конфиденциальности

                li.footer-credits-links-link
                    a(href="#") Информация об использовании


            .rusodot-credits
                a(href="#" target="_blank")
                    span Дизайн и разработка сайта —
                    +add_svg({class: "rusodot-credits__icon", icon: "ruso"})
