include ../../mixins/svg_sprite

section.user-agreement
    .container
        .user-agreement__container
            .user-agreement__container__title-and-block-links
                h1.title-user-agreement Пользовательское соглашение
                .links
                    ul
                        li
                            a(href="#") Главная
                            +add_svg({class: "user-agreement__dropdown_right", icon: "dropdown_right"})
                        li
                            a(href="#") Пользовательское соглашение
            .user-agreement__container__info
                p.text-user-agreement Ко всему прочему, перспективное планирование требуют определения и уточнения
                    |  экономических и не экономических факторов и перспектив. Таким образом, реализация
                    | намеченных плановых заданий обеспечивает широкому кругу специалистов участие в
                    | формировании существенных финансовых и административных условий. В целом, конечно,
                    | новая модель организационной деятельности вынуждает нас объективно потребовать
                    | дальнейших направлений развития. Стоит понимать, что постоянный количественный рост и
                    | сфера нашей активности выявляет срочную потребность стандартных подходов.
                .user-agreement__container__info__service-packages
                    h2.title H2 Пакеты услуг провайдера
                    p.text Ко всему прочему, перспективное планирование требуют определения
                        |  и уточнения экономических и не экономических факторов и перспектив. Таким образом, реализация…
                .user-agreement__container__info__4g-or-lte
                    h3.title H3 Что лучше 4G или LTE?
                    p.text Ко всему прочему, перспективное планирование требуют определения и уточнения
                        |  экономических и не экономических факторов и перспектив. Таким образом, реализация
                        | намеченных плановых заданий обеспечивает широкому кругу специалистов участие в
                        | формировании существенных финансовых и административных условий.
                .user-agreement__container__info__connection-quality
                    h4.title H4 Главное — качество связи
                    p.text Ко всему прочему, перспективное планирование требуют определения и уточнения экономических
                        |  и не экономических факторов и перспектив.






