include ../../mixins/svg_sprite

.container
    .content-card
        .content-heading
            h1 Пользовательское соглашение

            ul
                li
                    a(href="#") Главная
                    +add_svg({class: "content-heading__dropdown", icon: "dropdown_right"})
                li
                    a(href="#") Пользовательское соглашение

        .content-description
            p Ко всему прочему, перспективное планирование требуют определения и уточнения
                |  экономических и не экономических факторов и перспектив. Таким образом, реализация
                | намеченных плановых заданий обеспечивает широкому кругу специалистов участие в
                | формировании существенных финансовых и административных условий. В целом, конечно,
                | новая модель организационной деятельности вынуждает нас объективно потребовать
                | дальнейших направлений развития. Стоит понимать, что постоянный количественный рост и
                | сфера нашей активности выявляет срочную потребность стандартных подходов.
            h2 H2 Пакеты услуг провайдера
            p Ко всему прочему, перспективное планирование требуют определения
                |  и уточнения экономических и не экономических факторов и перспектив. Таким образом, реализация…
            h3 H3 Что лучше 4G или LTE?
            p Ко всему прочему, перспективное планирование требуют определения и уточнения
                |  экономических и не экономических факторов и перспектив. Таким образом, реализация
                | намеченных плановых заданий обеспечивает широкому кругу специалистов участие в
                | формировании существенных финансовых и административных условий.
            h4 H4 Главное — качество связи
            p Ко всему прочему, перспективное планирование требуют определения и уточнения экономических
                |  и не экономических факторов и перспектив.
