extends ./pug/base_template
include ./pug/mixins/typography

block title
    title Starter Template

block content
    .regular
        .container
            img(src="http://placehold.it/350x300?text=1")
        .container
            img(src="http://placehold.it/350x300?text=2")
        .container
            img(src="http://placehold.it/350x300?text=3")
