.adaptive-nav
  width: 620px
  height: 27px
  margin-left: 158px

  &__burger
    width: 17px
    height: 14px
    margin-right: 7px
    fill: #FFFFFF

  > ul
    margin: 0
    padding: 0
    display: flex
    justify-content: space-between

    > li
      padding: 0
      margin: 0

      > a
        color: #FFFFFF

        > span
          font-family: Rubik, sans-serif
          font-weight: 500
          font-style: normal
          line-height: normal
          font-size: 14px
          letter-spacing: 0.02em
          text-transform: uppercase
